{
    "mcpServers": {
        "laravel-boost": {
            "command": "php",
            "args": [
                "artisan",
                "boost:mcp"
            ]
        },
        "TestSprite": {
            "command": "npx",
            "args": [
                "@testsprite/testsprite-mcp@latest"
            ],
            "env": {
                "API_KEY": "sk-user-YOUR_TESTSPRITE_API_KEY_HERE"
            }
        }
    }
}
